/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Apply the dark background color and default text color */
  @apply bg-background text-on-background;
}

/* Custom styles for scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E1E1E; /* surface */
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}